.list-user-container {
    .title {
        margin: 50px;
        font-size: 3rem;
    }

    .list-user-content {
        .child {
            width: 400px;
            margin: 0 auto;
            height: 40px;
            border: 1px solid grey;
        }
    }


}
